## Sample requests
> 1. redbus
> 2. yatra

In [79]:
redbus = ['https://www.redbus.in/search?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&onward=16-Nov-2017&return=19-Nov-2017&opId=0&busType=Any',
         'https://www.redbus.in/hotels/search/Bangalore?destId=6771549831164675055&checkIn=2017-11-22&checkOut=2017-11-24&noOfAdults=1&noOfRooms=1&noOfChildren=0&childrenAge1=0&childrenAge2=0']

yatra = ['https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=14/11/2017&noOfSegments=1&origin=DEL&originCountry=IN&source=fresco-home&type=O&version=1.1&viewName=normal',
        'https://hotel.yatra.com/hotel-search/dom/search?checkoutDate=22/11/2017&checkinDate=15/11/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=2&roomRequests[0].noOfChildren=0&source=BOOKING_ENGINE&tenant=B2C&city.name=Bangalore&city.code=Bangalore&state.name=KART&state.code=KART&country.name=India&country.code=IND',
        'https://ebus.yatra.com/busview/busdesktop/search?src=Bangalore&dest=Hyderabad&tt=O&ddate=2017-11-23&qty=1&source=fresco']

### To find Ture datatype of a value , as every thing is in string

**Below are four types of dataTypes we are aiming to find**
1. Numerical
2. Alphanumeric
3. Alphabetic
3. DateTime

In [75]:
from dateutil.parser import parse
### to find the true dataType from a string
def find_data_type(value):
    try:
        return int(value) , 'numerical'
    except:
        try:
            parse(value)
            return value , 'datetime'
        except:
            if value.isalpha() == True:
                return value , 'alphabetic'
            return value , 'alphanumeric'

In [78]:
def classify_query(query):
    ## convert query to a json as explained
    query_dict = {w:j for (w,j) in [k.split('=') for k in query.split('?')[1].split('&')]}
    ### get values and there true data types in a list
    keys_with_datatypes = [[w , find_data_type(query_dict[w])[1]] for w in query_dict.keys()]
    ### update dict with true values i.e, '1' -- > 1 (String to numeric)
    update_query_dict = {w:find_data_type(query_dict[w])[0] for w in query_dict.keys()}
    return update_query_dict , keys_with_datatypes

In [77]:
classify_query(string_2)

({'checkIn': '2017-11-06',
  'checkOut': '2017-11-07',
  'childrenAge1': 0,
  'childrenAge2': 0,
  'destId': 6771549831164675055L,
  'noOfAdults': 1,
  'noOfChildren': 0,
  'noOfRooms': 1},
 [['destId', 'numerical'],
  ['noOfAdults', 'numerical'],
  ['childrenAge2', 'numerical'],
  ['checkIn', 'datetime'],
  ['childrenAge1', 'numerical'],
  ['noOfChildren', 'numerical'],
  ['noOfRooms', 'numerical'],
  ['checkOut', 'datetime']])

In [80]:
def extract_values_to_corresponding_datatypes(keys_with_datatypes , datatype):
    return [w[0] for w in keys_with_datatypes if w[1]==datatype]

#### Test on yatra request

In [94]:
print 'Testing on yatra requests'
for i,j in enumerate(yatra):
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = classify_query(j)
    print 'Query to dict ' , query_dict
    #print query_dict
    #print keys_with_datatypes
    
    print 'Alphabetic keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphabetic')
    print 'Numerical Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'numerical')
    print 'Alphanumeric Keys : ', extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphanumeric')
    print 'Date Time Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'datetime')
    print '\n'

Testing on yatra requests
Request 1 --> https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=14/11/2017&noOfSegments=1&origin=DEL&originCountry=IN&source=fresco-home&type=O&version=1.1&viewName=normal
Query to dict  {'origin': 'DEL', 'ADT': 1, 'flexi': 0, 'CHD': 0, 'viewName': 'normal', 'destinationCountry': 'IN', 'destination': 'BLR', 'noOfSegments': 1, 'source': 'fresco-home', 'version': '1.1', 'flight_depart_date': '14/11/2017', 'originCountry': 'IN', 'INF': 0, 'type': 'O', 'class': 'Economy'}
Alphabetic keys :  ['origin', 'viewName', 'type', 'destination', 'originCountry', 'destinationCountry', 'class']
Numerical Keys :  ['ADT', 'flexi', 'CHD', 'noOfSegments', 'INF']
Alphanumeric Keys :  ['source']
Date Time Keys :  ['version', 'flight_depart_date']


Request 2 --> https://hotel.yatra.com/hotel-search/dom/search?checkoutDate=22/11/2017&checkinDate=15/11/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=2&roomRequests[0].noOfChildren=0&source=BOOKING_ENGINE&tenant=B2C&city.name=Bangalore&city.code=Bangalore&state.name=KART&state.code=KART&country.name=India&country.code=IND
Query to dict  {'country.name': 'India', 'checkoutDate': '22/11/2017', 'source': 'BOOKING_ENGINE', 'roomRequests[0].noOfAdults': 2, 'checkinDate': '15/11/2017', 'country.code': 'IND', 'city.name': 'Bangalore', 'state.code': 'KART', 'state.name': 'KART', 'city.code': 'Bangalore', 'roomRequests[0].noOfChildren': 0, 'roomRequests[0].id': 1, 'tenant': 'B2C'}
Alphabetic keys :  ['country.name', 'city.name', 'country.code', 'state.code', 'state.name', 'city.code']
Numerical Keys :  ['roomRequests[0].noOfAdults', 'roomRequests[0].noOfChildren', 'roomRequests[0].id']
Alphanumeric Keys :  ['source', 'tenant']
Date Time Keys :  ['checkoutDate', 'checkinDate']


Request 3 --> https://ebus.yatra.com/busview/busdesktop/search?src=Bangalore&dest=Hyderabad&tt=O&ddate=2017-11-23&qty=1&source=fresco
Query to dict  {'src': 'Bangalore', 'dest': 'Hyderabad', 'tt': 'O', 'qty': 1, 'source': 'fresco', 'ddate': '2017-11-23'}
Alphabetic keys :  ['src', 'dest', 'tt', 'source']
Numerical Keys :  ['qty']
Alphanumeric Keys :  []
Date Time Keys :  ['ddate']

In [95]:
print 'Testing on redbus requests'
for i,j in enumerate(redbus):
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = classify_query(j)
    print 'Query to dict ' , query_dict
    #print query_dict
    #print keys_with_datatypes
    
    print 'Alphabetic keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphabetic')
    print 'Numerical Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'numerical')
    print 'Alphanumeric Keys : ', extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphanumeric')
    print 'Date Time Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'datetime')
    print '\n'

Testing on redbus requests
Request 1 --> https://www.redbus.in/search?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&onward=16-Nov-2017&return=19-Nov-2017&opId=0&busType=Any
Query to dict  {'return': '19-Nov-2017', 'toCityName': 'Hyderabad', 'fromCityName': 'Bangalore', 'onward': '16-Nov-2017', 'busType': 'Any', 'toCityId': 124, 'opId': 0, 'fromCityId': 122}
Alphabetic keys :  ['toCityName', 'fromCityName', 'busType']
Numerical Keys :  ['toCityId', 'opId', 'fromCityId']
Alphanumeric Keys :  []
Date Time Keys :  ['return', 'onward']


Request 2 --> https://www.redbus.in/hotels/search/Bangalore?destId=6771549831164675055&checkIn=2017-11-22&checkOut=2017-11-24&noOfAdults=1&noOfRooms=1&noOfChildren=0&childrenAge1=0&childrenAge2=0
Query to dict  {'destId': 6771549831164675055L, 'noOfAdults': 1, 'childrenAge2': 0, 'checkIn': '2017-11-22', 'childrenAge1': 0, 'noOfChildren': 0, 'noOfRooms': 1, 'checkOut': '2017-11-24'}
Alphabetic keys :  []
Numerical Keys :  ['destId', 'noOfAdults', 'childrenAge2', 'childrenAge1', 'noOfChildren', 'noOfRooms']
Alphanumeric Keys :  []
Date Time Keys :  ['checkIn', 'checkOut']