## Sample requests
> 1. redbus
> 2. yatra

In [79]:
redbus = ['https://www.redbus.in/search?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&onward=16-Nov-2017&return=19-Nov-2017&opId=0&busType=Any',
         'https://www.redbus.in/hotels/search/Bangalore?destId=6771549831164675055&checkIn=2017-11-22&checkOut=2017-11-24&noOfAdults=1&noOfRooms=1&noOfChildren=0&childrenAge1=0&childrenAge2=0']

yatra = ['https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=14/11/2017&noOfSegments=1&origin=DEL&originCountry=IN&source=fresco-home&type=O&version=1.1&viewName=normal',
        'https://hotel.yatra.com/hotel-search/dom/search?checkoutDate=22/11/2017&checkinDate=15/11/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=2&roomRequests[0].noOfChildren=0&source=BOOKING_ENGINE&tenant=B2C&city.name=Bangalore&city.code=Bangalore&state.name=KART&state.code=KART&country.name=India&country.code=IND',
        'https://ebus.yatra.com/busview/busdesktop/search?src=Bangalore&dest=Hyderabad&tt=O&ddate=2017-11-23&qty=1&source=fresco']

### To find Ture datatype of a value , as every thing is in string

**Below are four types of dataTypes we are aiming to find**
1. Numerical
2. Alphanumeric
3. Alphabetic
3. DateTime

In [75]:
from dateutil.parser import parse
### to find the true dataType from a string
def find_data_type(value):
    try:
        return int(value) , 'numerical'
    except:
        try:
            parse(value)
            return value , 'datetime'
        except:
            if value.isalpha() == True:
                return value , 'alphabetic'
            return value , 'alphanumeric'

In [78]:
def classify_query(query):
    ## convert query to a json as explained
    query_dict = {w:j for (w,j) in [k.split('=') for k in query.split('?')[1].split('&')]}
    ### get values and there true data types in a list
    keys_with_datatypes = [[w , find_data_type(query_dict[w])[1]] for w in query_dict.keys()]
    ### update dict with true values i.e, '1' -- > 1 (String to numeric)
    update_query_dict = {w:find_data_type(query_dict[w])[0] for w in query_dict.keys()}
    return update_query_dict , keys_with_datatypes

In [77]:
classify_query(string_2)

({'checkIn': '2017-11-06',
  'checkOut': '2017-11-07',
  'childrenAge1': 0,
  'childrenAge2': 0,
  'destId': 6771549831164675055L,
  'noOfAdults': 1,
  'noOfChildren': 0,
  'noOfRooms': 1},
 [['destId', 'numerical'],
  ['noOfAdults', 'numerical'],
  ['childrenAge2', 'numerical'],
  ['checkIn', 'datetime'],
  ['childrenAge1', 'numerical'],
  ['noOfChildren', 'numerical'],
  ['noOfRooms', 'numerical'],
  ['checkOut', 'datetime']])

In [80]:
def extract_values_to_corresponding_datatypes(keys_with_datatypes , datatype):
    return [w[0] for w in keys_with_datatypes if w[1]==datatype]

#### Test on yatra request

In [94]:
print 'Testing on yatra requests'
for i,j in enumerate(yatra):
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = classify_query(j)
    print 'Query to dict ' , query_dict
    #print query_dict
    #print keys_with_datatypes
    
    print 'Alphabetic keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphabetic')
    print 'Numerical Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'numerical')
    print 'Alphanumeric Keys : ', extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphanumeric')
    print 'Date Time Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'datetime')
    print '\n'

Testing on yatra requests
Request 1 --> https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=14/11/2017&noOfSegments=1&origin=DEL&originCountry=IN&source=fresco-home&type=O&version=1.1&viewName=normal
Query to dict  {'origin': 'DEL', 'ADT': 1, 'flexi': 0, 'CHD': 0, 'viewName': 'normal', 'destinationCountry': 'IN', 'destination': 'BLR', 'noOfSegments': 1, 'source': 'fresco-home', 'version': '1.1', 'flight_depart_date': '14/11/2017', 'originCountry': 'IN', 'INF': 0, 'type': 'O', 'class': 'Economy'}
Alphabetic keys :  ['origin', 'viewName', 'type', 'destination', 'originCountry', 'destinationCountry', 'class']
Numerical Keys :  ['ADT', 'flexi', 'CHD', 'noOfSegments', 'INF']
Alphanumeric Keys :  ['source']
Date Time Keys :  ['version', 'flight_depart_date']


Request 2 --> https://hotel.yatra.com/hotel-search/dom/search?checkoutDate=22/11/2017&checkinDate=15/11/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=2&roomRequests[0].noOfChildren=0&source=BOOKING_ENGINE&tenant=B2C&city.name=Bangalore&city.code=Bangalore&state.name=KART&state.code=KART&country.name=India&country.code=IND
Query to dict  {'country.name': 'India', 'checkoutDate': '22/11/2017', 'source': 'BOOKING_ENGINE', 'roomRequests[0].noOfAdults': 2, 'checkinDate': '15/11/2017', 'country.code': 'IND', 'city.name': 'Bangalore', 'state.code': 'KART', 'state.name': 'KART', 'city.code': 'Bangalore', 'roomRequests[0].noOfChildren': 0, 'roomRequests[0].id': 1, 'tenant': 'B2C'}
Alphabetic keys :  ['country.name', 'city.name', 'country.code', 'state.code', 'state.name', 'city.code']
Numerical Keys :  ['roomRequests[0].noOfAdults', 'roomRequests[0].noOfChildren', 'roomRequests[0].id']
Alphanumeric Keys :  ['source', 'tenant']
Date Time Keys :  ['checkoutDate', 'checkinDate']


Request 3 --> https://ebus.yatra.com/busview/busdesktop/search?src=Bangalore&dest=Hyderabad&tt=O&ddate=2017-11-23&qty=1&source=fresco
Query to dict  {'src': 'Bangalore', 'dest': 'Hyderabad', 'tt': 'O', 'qty': 1, 'source': 'fresco', 'ddate': '2017-11-23'}
Alphabetic keys :  ['src', 'dest', 'tt', 'source']
Numerical Keys :  ['qty']
Alphanumeric Keys :  []
Date Time Keys :  ['ddate']

In [95]:
print 'Testing on redbus requests'
for i,j in enumerate(redbus):
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = classify_query(j)
    print 'Query to dict ' , query_dict
    #print query_dict
    #print keys_with_datatypes
    
    print 'Alphabetic keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphabetic')
    print 'Numerical Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'numerical')
    print 'Alphanumeric Keys : ', extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphanumeric')
    print 'Date Time Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'datetime')
    print '\n'

Testing on redbus requests
Request 1 --> https://www.redbus.in/search?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&onward=16-Nov-2017&return=19-Nov-2017&opId=0&busType=Any
Query to dict  {'return': '19-Nov-2017', 'toCityName': 'Hyderabad', 'fromCityName': 'Bangalore', 'onward': '16-Nov-2017', 'busType': 'Any', 'toCityId': 124, 'opId': 0, 'fromCityId': 122}
Alphabetic keys :  ['toCityName', 'fromCityName', 'busType']
Numerical Keys :  ['toCityId', 'opId', 'fromCityId']
Alphanumeric Keys :  []
Date Time Keys :  ['return', 'onward']


Request 2 --> https://www.redbus.in/hotels/search/Bangalore?destId=6771549831164675055&checkIn=2017-11-22&checkOut=2017-11-24&noOfAdults=1&noOfRooms=1&noOfChildren=0&childrenAge1=0&childrenAge2=0
Query to dict  {'destId': 6771549831164675055L, 'noOfAdults': 1, 'childrenAge2': 0, 'checkIn': '2017-11-22', 'childrenAge1': 0, 'noOfChildren': 0, 'noOfRooms': 1, 'checkOut': '2017-11-24'}
Alphabetic keys :  []
Numerical Keys :  ['destId', 'noOfAdults', 'childrenAge2', 'childrenAge1', 'noOfChildren', 'noOfRooms']
Alphanumeric Keys :  []
Date Time Keys :  ['checkIn', 'checkOut']

# Second part

### Preparing training dataset

In [111]:
def create_training_data_for_query(query):
    ## convert query to json as explained
    query_dict = {w:j for (w,j) in [k.split('=') for k in query.split('?')[1].split('&')]}
    ### get values and there true data types in a list
    keys_with_datatypes = [[query_dict[w] , find_data_type(query_dict[w])[1]] for w in query_dict.keys()]

    return query_dict , keys_with_datatypes

In [195]:
train = []

In [196]:
print 'collecting training data on yatra requests'
for i,j in enumerate(yatra):
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = create_training_data_for_query(j)
    print 'Query to dict ' , query_dict
    [train.append(w) for w in keys_with_datatypes]
    print '\n'

collecting training data on yatra requests
Request 1 --> https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=14/11/2017&noOfSegments=1&origin=DEL&originCountry=IN&source=fresco-home&type=O&version=1.1&viewName=normal
Query to dict  {'origin': 'DEL', 'ADT': '1', 'flexi': '0', 'CHD': '0', 'viewName': 'normal', 'type': 'O', 'destination': 'BLR', 'noOfSegments': '1', 'source': 'fresco-home', 'version': '1.1', 'flight_depart_date': '14/11/2017', 'originCountry': 'IN', 'INF': '0', 'destinationCountry': 'IN', 'class': 'Economy'}


Request 2 --> https://hotel.yatra.com/hotel-search/dom/search?checkoutDate=22/11/2017&checkinDate=15/11/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=2&roomRequests[0].noOfChildren=0&source=BOOKING_ENGINE&tenant=B2C&city.name=Bangalore&city.code=Bangalore&state.name=KART&state.code=KART&country.name=India&country.code=IND
Query to dict  {'country.name': 'India', 'checkoutDate': '22/11/2017', 'city.name': 'Bangalore', 'roomRequests[0].noOfAdults': '2', 'checkinDate': '15/11/2017', 'country.code': 'IND', 'source': 'BOOKING_ENGINE', 'state.code': 'KART', 'state.name': 'KART', 'city.code': 'Bangalore', 'roomRequests[0].noOfChildren': '0', 'roomRequests[0].id': '1', 'tenant': 'B2C'}


Request 3 --> https://ebus.yatra.com/busview/busdesktop/search?src=Bangalore&dest=Hyderabad&tt=O&ddate=2017-11-23&qty=1&source=fresco
Query to dict  {'src': 'Bangalore', 'dest': 'Hyderabad', 'tt': 'O', 'qty': '1', 'source': 'fresco', 'ddate': '2017-11-23'}

In [197]:
print 'collecting training data on redbus requests'
for i,j in enumerate(redbus):
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = create_training_data_for_query(j)
    print 'Query to dict ' , query_dict
    [train.append(w) for w in keys_with_datatypes]
    print '\n'

collecting training data on redbus requests
Request 1 --> https://www.redbus.in/search?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&onward=16-Nov-2017&return=19-Nov-2017&opId=0&busType=Any
Query to dict  {'return': '19-Nov-2017', 'toCityName': 'Hyderabad', 'fromCityName': 'Bangalore', 'onward': '16-Nov-2017', 'busType': 'Any', 'toCityId': '124', 'opId': '0', 'fromCityId': '122'}


Request 2 --> https://www.redbus.in/hotels/search/Bangalore?destId=6771549831164675055&checkIn=2017-11-22&checkOut=2017-11-24&noOfAdults=1&noOfRooms=1&noOfChildren=0&childrenAge1=0&childrenAge2=0
Query to dict  {'destId': '6771549831164675055', 'noOfAdults': '1', 'childrenAge2': '0', 'checkIn': '2017-11-22', 'childrenAge1': '0', 'noOfChildren': '0', 'noOfRooms': '1', 'checkOut': '2017-11-24'}

In [199]:
for i in train:
    i[0] = " ".join([w+' ' for w in i[0]])

In [200]:
train

[['D  E  L ', 'alphabetic'],
 ['1 ', 'numerical'],
 ['0 ', 'numerical'],
 ['0 ', 'numerical'],
 ['n  o  r  m  a  l ', 'alphabetic'],
 ['O ', 'alphabetic'],
 ['B  L  R ', 'alphabetic'],
 ['1 ', 'numerical'],
 ['f  r  e  s  c  o  -  h  o  m  e ', 'alphanumeric'],
 ['1  .  1 ', 'datetime'],
 ['1  4  /  1  1  /  2  0  1  7 ', 'datetime'],
 ['I  N ', 'alphabetic'],
 ['0 ', 'numerical'],
 ['I  N ', 'alphabetic'],
 ['E  c  o  n  o  m  y ', 'alphabetic'],
 ['I  n  d  i  a ', 'alphabetic'],
 ['2  2  /  1  1  /  2  0  1  7 ', 'datetime'],
 ['B  a  n  g  a  l  o  r  e ', 'alphabetic'],
 ['2 ', 'numerical'],
 ['1  5  /  1  1  /  2  0  1  7 ', 'datetime'],
 ['I  N  D ', 'alphabetic'],
 ['B  O  O  K  I  N  G  _  E  N  G  I  N  E ', 'alphanumeric'],
 ['K  A  R  T ', 'alphabetic'],
 ['K  A  R  T ', 'alphabetic'],
 ['B  a  n  g  a  l  o  r  e ', 'alphabetic'],
 ['0 ', 'numerical'],
 ['1 ', 'numerical'],
 ['B  2  C ', 'alphanumeric'],
 ['B  a  n  g  a  l  o  r  e ', 'alphabetic'],
 ['H  y  d  e  r  a  b  a  d ', 'alphabetic'],
 ['O ', 'alphabetic'],
 ['1 ', 'numerical'],
 ['f  r  e  s  c  o ', 'alphabetic'],
 ['2  0  1  7  -  1  1  -  2  3 ', 'datetime'],
 ['1  9  -  N  o  v  -  2  0  1  7 ', 'datetime'],
 ['H  y  d  e  r  a  b  a  d ', 'alphabetic'],
 ['B  a  n  g  a  l  o  r  e ', 'alphabetic'],
 ['1  6  -  N  o  v  -  2  0  1  7 ', 'datetime'],
 ['A  n  y ', 'alphabetic'],
 ['1  2  4 ', 'numerical'],
 ['0 ', 'numerical'],
 ['1  2  2 ', 'numerical'],
 ['6  7  7  1  5  4  9  8  3  1  1  6  4  6  7  5  0  5  5 ', 'numerical'],
 ['1 ', 'numerical'],
 ['0 ', 'numerical'],
 ['2  0  1  7  -  1  1  -  2  2 ', 'datetime'],
 ['0 ', 'numerical'],
 ['0 ', 'numerical'],
 ['1 ', 'numerical'],
 ['2  0  1  7  -  1  1  -  2  4 ', 'datetime']]

### training Naive Bayes Classifier

In [146]:
from textblob.classifiers import NaiveBayesClassifier
from textblob import TextBlob
cl = NaiveBayesClassifier(train)

In [157]:
def pre_data_type(value):
    value = " ".join([w+' ' for w in value])
    return cl.classify(value)

cl.show_informative_features(5)

alphanumeric
Most Informative Features
             contains(7) = True           dateti : numeri =     10.8 : 1.0
             contains(0) = False          alphab : dateti =      6.5 : 1.0
             contains(7) = False          alphab : dateti =      6.5 : 1.0
             contains(2) = False          alphab : dateti =      6.5 : 1.0
             contains(s) = True           alphan : alphab =      5.2 : 1.0

In [201]:
print("Training accuracy Accuracy: {0}".format(cl.accuracy(train)))

Training accuracy Accuracy: 0.9

### testing above model on new requests

In [202]:
test_redbus = ['https://www.redbus.in/search?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&onward=22-Dec-2017&return=26-Dec-2017&opId=0&busType=Any',
              'https://www.redbus.in/hotels/search/Mumbai?destId=4213513766539949483&checkIn=2018-01-18&checkOut=2018-01-25&noOfAdults=4%2C3%2C2&noOfRooms=3&noOfChildren=0%2C0%2C1&childrenAge1=1%2C1%2C1&childrenAge2=1%2C1%2C1']

test_yatra = ['https://www.yatra.com/byop/search?f_type=R&viewName=normal&flexi=0&noOfSegments=2&origin=BOM&originCountry=IN&destination=BLR&destinationCountry=IN&flight_depart_date=30/11/2017&arrivalDate=06/12/2017&INF=0&ADT=1&CHD=0&class=Economy&source=fresco-home&isDiffCheck=false&checkinDate_0=30/11/2017&checkoutDate_0=06/12/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=1&roomRequests[0].noOfChildren=0&h_type=rate&exclude=rates.hotels.tgRating&h_code_0=Bangalore&h_city_0=Bangalore&tenant=bydom' , 
             'https://homestays.yatra.com/homestay-search/domhs/search?checkinDate=22/11/2017&checkoutDate=25/11/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=4&roomRequests[0].noOfChildren=0&roomRequests[1].id=2&roomRequests[1].noOfAdults=3&roomRequests[1].noOfChildren=0&source=BOOKING_ENGINE&propertyType=homestay&appType=HOMESTAY&tenant=B2C&city.name=Goa&city.code=Goa']

In [203]:
### collect the info to further calculate the model performance
test = []

In [205]:
print 'collecting testing data on yatra requests'
for i,j in enumerate(test_yatra):
    
    ### collecting the datatypes from previous logic so that we can compare it with the model built using naive bayes
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = create_training_data_for_query(j)
    print 'Query to dict ' , query_dict
    [test.append(w) for w in keys_with_datatypes]
    print '\n'
    
print 'collecting testing data on redbus requests'
for i,j in enumerate(test_redbus):
    ### collecting the datatypes from previous logic so that we can compare it with the model built using naive bayes
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = create_training_data_for_query(j)
    print 'Query to dict ' , query_dict
    [test.append(w) for w in keys_with_datatypes]
    print '\n'

collecting testing data on yatra requests
Request 1 --> https://www.yatra.com/byop/search?f_type=R&viewName=normal&flexi=0&noOfSegments=2&origin=BOM&originCountry=IN&destination=BLR&destinationCountry=IN&flight_depart_date=30/11/2017&arrivalDate=06/12/2017&INF=0&ADT=1&CHD=0&class=Economy&source=fresco-home&isDiffCheck=false&checkinDate_0=30/11/2017&checkoutDate_0=06/12/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=1&roomRequests[0].noOfChildren=0&h_type=rate&exclude=rates.hotels.tgRating&h_code_0=Bangalore&h_city_0=Bangalore&tenant=bydom
Query to dict  {'origin': 'BOM', 'checkoutDate_0': '06/12/2017', 'f_type': 'R', 'originCountry': 'IN', 'exclude': 'rates.hotels.tgRating', 'destination': 'BLR', 'noOfSegments': '2', 'source': 'fresco-home', 'h_code_0': 'Bangalore', 'destinationCountry': 'IN', 'ADT': '1', 'CHD': '0', 'viewName': 'normal', 'checkinDate_0': '30/11/2017', 'roomRequests[0].noOfChildren': '0', 'class': 'Economy', 'tenant': 'bydom', 'flexi': '0', 'arrivalDate': '06/12/2017', 'roomRequests[0].id': '1', 'isDiffCheck': 'false', 'roomRequests[0].noOfAdults': '1', 'flight_depart_date': '30/11/2017', 'h_type': 'rate', 'INF': '0', 'h_city_0': 'Bangalore'}


Request 2 --> https://homestays.yatra.com/homestay-search/domhs/search?checkinDate=22/11/2017&checkoutDate=25/11/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=4&roomRequests[0].noOfChildren=0&roomRequests[1].id=2&roomRequests[1].noOfAdults=3&roomRequests[1].noOfChildren=0&source=BOOKING_ENGINE&propertyType=homestay&appType=HOMESTAY&tenant=B2C&city.name=Goa&city.code=Goa
Query to dict  {'roomRequests[1].noOfAdults': '3', 'city.code': 'Goa', 'checkoutDate': '25/11/2017', 'appType': 'HOMESTAY', 'roomRequests[1].noOfChildren': '0', 'roomRequests[0].noOfAdults': '4', 'checkinDate': '22/11/2017', 'roomRequests[1].id': '2', 'source': 'BOOKING_ENGINE', 'propertyType': 'homestay', 'roomRequests[0].noOfChildren': '0', 'city.name': 'Goa', 'roomRequests[0].id': '1', 'tenant': 'B2C'}


collecting testing data on redbus requests
Request 1 --> https://www.redbus.in/search?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&onward=22-Dec-2017&return=26-Dec-2017&opId=0&busType=Any
Query to dict  {'return': '26-Dec-2017', 'toCityName': 'Hyderabad', 'fromCityName': 'Bangalore', 'onward': '22-Dec-2017', 'busType': 'Any', 'toCityId': '124', 'opId': '0', 'fromCityId': '122'}


Request 2 --> https://www.redbus.in/hotels/search/Mumbai?destId=4213513766539949483&checkIn=2018-01-18&checkOut=2018-01-25&noOfAdults=4%2C3%2C2&noOfRooms=3&noOfChildren=0%2C0%2C1&childrenAge1=1%2C1%2C1&childrenAge2=1%2C1%2C1
Query to dict  {'destId': '4213513766539949483', 'noOfAdults': '4%2C3%2C2', 'childrenAge2': '1%2C1%2C1', 'checkIn': '2018-01-18', 'childrenAge1': '1%2C1%2C1', 'noOfChildren': '0%2C0%2C1', 'noOfRooms': '3', 'checkOut': '2018-01-25'}

In [206]:
for i in test:
    i[0] = " ".join([w+' ' for w in i[0]])

In [207]:

def classify_query_using_classifier(query):
    ## convert query to json as explained
    query_dict = {w:j for (w,j) in [k.split('=') for k in query.split('?')[1].split('&')]}
    ### get values and there true data types in a list from naive bayes classifer
    keys_with_datatypes = [[w , pre_data_type(query_dict[w])] for w in query_dict.keys()]
    return query_dict , keys_with_datatypes

In [208]:
print 'Testing on redbus requests'
for i,j in enumerate(test_redbus):
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = classify_query_using_classifier(j)
    print 'Query to dict ' , query_dict
    #print query_dict
    #print keys_with_datatypes
    
    print 'Alphabetic keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphabetic')
    print 'Numerical Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'numerical')
    print 'Alphanumeric Keys : ', extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphanumeric')
    print 'Date Time Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'datetime')
    print '\n'

Testing on redbus requests
Request 1 --> https://www.redbus.in/search?fromCityName=Bangalore&fromCityId=122&toCityName=Hyderabad&toCityId=124&onward=22-Dec-2017&return=26-Dec-2017&opId=0&busType=Any
Query to dict  {'return': '26-Dec-2017', 'toCityName': 'Hyderabad', 'fromCityName': 'Bangalore', 'onward': '22-Dec-2017', 'busType': 'Any', 'toCityId': '124', 'opId': '0', 'fromCityId': '122'}
Alphabetic keys :  ['toCityName', 'fromCityName', 'busType']
Numerical Keys :  ['toCityId', 'opId', 'fromCityId']
Alphanumeric Keys :  []
Date Time Keys :  ['return', 'onward']


Request 2 --> https://www.redbus.in/hotels/search/Mumbai?destId=4213513766539949483&checkIn=2018-01-18&checkOut=2018-01-25&noOfAdults=4%2C3%2C2&noOfRooms=3&noOfChildren=0%2C0%2C1&childrenAge1=1%2C1%2C1&childrenAge2=1%2C1%2C1
Query to dict  {'destId': '4213513766539949483', 'noOfAdults': '4%2C3%2C2', 'childrenAge2': '1%2C1%2C1', 'checkIn': '2018-01-18', 'childrenAge1': '1%2C1%2C1', 'noOfChildren': '0%2C0%2C1', 'noOfRooms': '3', 'checkOut': '2018-01-25'}
Alphabetic keys :  []
Numerical Keys :  ['noOfAdults', 'childrenAge2', 'checkIn', 'childrenAge1', 'noOfChildren', 'noOfRooms', 'checkOut']
Alphanumeric Keys :  []
Date Time Keys :  ['destId']

In [209]:
print 'Testing on yatra requests'
for i,j in enumerate(test_yatra):
    print 'Request {} --> {}'.format(i+1,j)
    query_dict , keys_with_datatypes = classify_query_using_classifier(j)
    print 'Query to dict ' , query_dict
    #print query_dict
    #print keys_with_datatypes
    
    print 'Alphabetic keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphabetic')
    print 'Numerical Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'numerical')
    print 'Alphanumeric Keys : ', extract_values_to_corresponding_datatypes(keys_with_datatypes , 'alphanumeric')
    print 'Date Time Keys : ' , extract_values_to_corresponding_datatypes(keys_with_datatypes , 'datetime')
    print '\n'

Testing on yatra requests
Request 1 --> https://www.yatra.com/byop/search?f_type=R&viewName=normal&flexi=0&noOfSegments=2&origin=BOM&originCountry=IN&destination=BLR&destinationCountry=IN&flight_depart_date=30/11/2017&arrivalDate=06/12/2017&INF=0&ADT=1&CHD=0&class=Economy&source=fresco-home&isDiffCheck=false&checkinDate_0=30/11/2017&checkoutDate_0=06/12/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=1&roomRequests[0].noOfChildren=0&h_type=rate&exclude=rates.hotels.tgRating&h_code_0=Bangalore&h_city_0=Bangalore&tenant=bydom
Query to dict  {'origin': 'BOM', 'checkoutDate_0': '06/12/2017', 'f_type': 'R', 'originCountry': 'IN', 'exclude': 'rates.hotels.tgRating', 'destination': 'BLR', 'noOfSegments': '2', 'source': 'fresco-home', 'h_code_0': 'Bangalore', 'destinationCountry': 'IN', 'ADT': '1', 'CHD': '0', 'viewName': 'normal', 'checkinDate_0': '30/11/2017', 'roomRequests[0].noOfChildren': '0', 'class': 'Economy', 'tenant': 'bydom', 'flexi': '0', 'arrivalDate': '06/12/2017', 'roomRequests[0].id': '1', 'isDiffCheck': 'false', 'roomRequests[0].noOfAdults': '1', 'flight_depart_date': '30/11/2017', 'h_type': 'rate', 'INF': '0', 'h_city_0': 'Bangalore'}
Alphabetic keys :  ['origin', 'originCountry', 'exclude', 'destination', 'h_code_0', 'destinationCountry', 'viewName', 'class', 'tenant', 'isDiffCheck', 'h_type', 'h_city_0']
Numerical Keys :  ['f_type', 'noOfSegments', 'ADT', 'CHD', 'roomRequests[0].noOfChildren', 'flexi', 'roomRequests[0].id', 'roomRequests[0].noOfAdults', 'INF']
Alphanumeric Keys :  ['source']
Date Time Keys :  ['checkoutDate_0', 'checkinDate_0', 'arrivalDate', 'flight_depart_date']


Request 2 --> https://homestays.yatra.com/homestay-search/domhs/search?checkinDate=22/11/2017&checkoutDate=25/11/2017&roomRequests[0].id=1&roomRequests[0].noOfAdults=4&roomRequests[0].noOfChildren=0&roomRequests[1].id=2&roomRequests[1].noOfAdults=3&roomRequests[1].noOfChildren=0&source=BOOKING_ENGINE&propertyType=homestay&appType=HOMESTAY&tenant=B2C&city.name=Goa&city.code=Goa
Query to dict  {'roomRequests[1].noOfAdults': '3', 'city.code': 'Goa', 'checkoutDate': '25/11/2017', 'appType': 'HOMESTAY', 'roomRequests[1].noOfChildren': '0', 'roomRequests[0].noOfAdults': '4', 'checkinDate': '22/11/2017', 'roomRequests[1].id': '2', 'source': 'BOOKING_ENGINE', 'propertyType': 'homestay', 'roomRequests[0].noOfChildren': '0', 'city.name': 'Goa', 'roomRequests[0].id': '1', 'tenant': 'B2C'}
Alphabetic keys :  ['city.code', 'appType', 'propertyType', 'city.name']
Numerical Keys :  ['roomRequests[1].noOfAdults', 'roomRequests[1].noOfChildren', 'roomRequests[0].noOfAdults', 'roomRequests[1].id', 'roomRequests[0].noOfChildren', 'roomRequests[0].id', 'tenant']
Alphanumeric Keys :  ['source']
Date Time Keys :  ['checkoutDate', 'checkinDate']

In [212]:
### test accuracy
print("Testing data Accuracy: {0}".format(cl.accuracy(test)))

Testing data Accuracy: 0.821428571429